body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d9fef4;
}

.header {
  background-color: #76f8d2;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 68px; 
  padding-left: 50px
}
.header h1 {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center; 
  width: 100%;
}
.center-nav, .right-nav {
  display: flex;
  gap: 15px;
}
.center-nav {
  flex: 1; 
  justify-content: center;
  padding-top: 10px; 
}

.nav .center-nav a:hover {
  color: #007bff;
}

.right-nav {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25px;
  padding-right: 35px;
}

.nav .right-nav a:hover {
  color: #007bff; 
}

.nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

button.try-now {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.try-now:hover {
  background-color: #0056b3;
}

button.try-now:hover {
  background-color: #0056b3;
}

.container {
  width: 69%;
  max-width: 1200px;
  background-color: 76f8d2;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  padding-left: 235px;
  padding-top: 125px;
  padding-bottom: 136px;


}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  color: #555;
  margin-bottom: 40px;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-box {
  width: 45%;
  max-width: 300px;
  background-color: #aeffe7;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.info-box img {
  width: 55px;
  height: auto;
  margin-bottom: 20px;
}

.info-box h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.info-box p {
  font-size: 14px;
  color: #555;
}

.footer {
  background-color: #99ffe3;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center; 
  margin-top: auto; 
}