body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e0f4f2;
  ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 70%;
  height: 70vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.left,
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.left {
  background-color: #d9fef4;
}

.content {
  text-align: center;
}

.content img {
  width: 334px;
  height: auto;
  margin-bottom: -16px;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  color: #555;
}

.right {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.login-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.forgot-password {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #007bff;
  text-decoration: none;
  margin-bottom: 20px;
}

.forgot-password:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.alternative-login {
  margin: 20px 0;
}


.alternative-login p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #000000;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.google-login img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.google-login:hover {
  background-color: #555;
}

.login-form p {
  font-size: 14px;
  color: #555;
}

.login-form p a {
  color: #007bff;
  text-decoration: none;
}

.login-form p a:hover {
  text-decoration: underline;
}